<a href="https://colab.research.google.com/github/Bertoncini/AluraQuarentenaDados/blob/master/01_Desafio_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 06
Contar o número de aparições de cada grupo

In [0]:
import pandas as pd

importando dados para realização da analise

In [0]:
filmes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/movies.csv')

Renomeando nomes das colunas

In [0]:
filmes.columns = ['filmeId','titulo','genero']

Gerando uma lista dos generos do filmes

In [0]:
generos_filmes_desagrupado = filmes['genero'].str.split('|')

Separando os generos, deixando eles em um mesmo array

In [0]:
generos = []
for row in avalicao_media_filmes:
    for elem in row:
       generos.append(elem)

Contando os generos

In [61]:
contador,genero = pd.Series(generos).value_counts().values, pd.Series(generos).value_counts().index
generos_contado = pd.DataFrame(list(zip(genero,contador)),columns=["genero","contador"])

generos_contado.sort_values('contador', ascending=False)

                genero  contador
0                Drama      4361
1               Comedy      3756
2             Thriller      1894
3               Action      1828
4              Romance      1596
5            Adventure      1263
6                Crime      1199
7               Sci-Fi       980
8               Horror       978
9              Fantasy       779
10            Children       664
11           Animation       611
12             Mystery       573
13         Documentary       440
14                 War       382
15             Musical       334
16             Western       167
17                IMAX       158
18           Film-Noir        87
19  (no genres listed)        34