<a href="https://colab.research.google.com/github/Bertoncini/AluraQuarentenaDados/blob/master/01_Desafio_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 02
Mudar o nome da coluna nota para media após o  join

In [0]:
import pandas as pd

importando dados para realização da analise

In [0]:

filmes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/movies.csv')
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/ratings.csv')

Renomeando nomes das colunas

In [0]:
filmes.columns = ['filmeId','titulo','generos']
avaliacoes.columns = ['usuarioId','filmeId','nota','momento']


Gerando a avalição média dos filmes

In [0]:
avalicao_media_filmes = avaliacoes.groupby('filmeId')['nota'].mean()

juntando as informações do DataFrame com o Series

In [0]:
filmes_avalicao_media = filmes.join(avalicao_media_filmes,'filmeId')

Alterando o nome da coluna nota para media após join

In [0]:
filmes_avalicao_media.columns = ['filmeId','titulo','generos','media']
filmes_avalicao_media.head(10)

   filmeId  ...     media
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429
5        6  ...  3.946078
6        7  ...  3.185185
7        8  ...  2.875000
8        9  ...  3.125000
9       10  ...  3.496212

[10 rows x 4 columns]