<a href="https://colab.research.google.com/github/Bertoncini/AluraQuarentenaDados/blob/master/01_Desafio01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Desafio 01
Encontre os filmes que não tiveram avaliações.

In [0]:
import pandas as pd

importando dados para realização da analise

In [0]:

filmes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/movies.csv')
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/ratings.csv')

Renomeando nomes das colunas

In [0]:
filmes.columns = ['filmeId','titulo','generos']
avaliacoes.columns = ['usuarioId','filmeId','nota','momento']


Gerando a avalição média dos filmes

In [0]:
avalicao_media_filmes = avaliacoes.groupby('filmeId')['nota'].mean()

juntando as informações do DataFrame com o Series

In [0]:
filmes_avalicao_media = filmes.join(avalicao_media_filmes, 'filmeId')

Localizando os filmes sem nota

In [50]:
filmes_avalicao_media.query('nota != nota')

      filmeId  ... nota
816      1076  ...  NaN
2211     2939  ...  NaN
2499     3338  ...  NaN
2587     3456  ...  NaN
3118     4194  ...  NaN
4037     5721  ...  NaN
4506     6668  ...  NaN
4598     6849  ...  NaN
4704     7020  ...  NaN
5020     7792  ...  NaN
5293     8765  ...  NaN
5421    25855  ...  NaN
5452    26085  ...  NaN
5749    30892  ...  NaN
5824    32160  ...  NaN
5837    32371  ...  NaN
5957    34482  ...  NaN
7565    85565  ...  NaN

[18 rows x 4 columns]