<a href="https://colab.research.google.com/github/Bertoncini/AluraQuarentenaDados/blob/master/01_Desafio_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 03
Colocar o número de avaliações por filme isto é, não só a média mas o total de votos por filme

In [0]:
import pandas as pd

importando dados para realização da analise

In [0]:

filmes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/movies.csv')
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/Bertoncini/AluraQuarentenaDados/master/DataSet/MovieLens/ratings.csv')

Renomeando nomes das colunas

In [0]:
filmes.columns = ['filmeId','titulo','generos']
avaliacoes.columns = ['usuarioId','filmeId','nota','momento']

Gerando a quantidade total de avaliação e a média das avaliações

In [0]:
avalicao_media_qtd_total = avaliacoes.groupby('filmeId').agg({'usuarioId':'size','nota':'mean'}).rename(columns={'usuarioId':'quantidadeAvaliacao','nota':'media'})

juntando as informações do DataFrame com o Series

In [0]:
filmes_avalicao = filmes.join(avalicao_media_qtd_total,'filmeId')
filmes_avalicao.head()

   filmeId                              titulo  ... quantidadeAvaliacao     media
0        1                    Toy Story (1995)  ...               215.0  3.920930
1        2                      Jumanji (1995)  ...               110.0  3.431818
2        3             Grumpier Old Men (1995)  ...                52.0  3.259615
3        4            Waiting to Exhale (1995)  ...                 7.0  2.357143
4        5  Father of the Bride Part II (1995)  ...                49.0  3.071429

[5 rows x 5 columns]